/* Variable Start  */

:root {
  --main-color: #10cab7;
}

/* Variable End  */

/* Start Globale Rules  */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Globale Rules  */

/* Start Header  */

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 60px;
}
.header .links {
  position: relative;
  cursor: pointer;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 999;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 2px;
  top: -20px;
}

.header .links:hover ul {
  display: block;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #222;
  transition: 0.3s;
  text-transform: capitalize;
}
.header .links ul li:hover a {
  padding-left: 25px;
  opacity: 0.5;
}

.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* End Header  */

/* Start Landing Section  */

.landing {
  background-image: url(../images/mountains.jpg);
  backdrop-filter: grayscale(80%);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:320px ;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

/* End Landing Section  */
